<style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 20px 0;
            font-size: 16px;
            color: #fff;
            background-color: #4CAF50;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
        }
        .button:hover {
            background-color: #45a049;
        }
    </style>


 <div class="container">
        <h1>Bonjour {{ nom_utilisateur }},</h1>
        <p>Merci de vous être inscrit(e) sur notre plateforme de compétitions dédiée au Ministère de l'Agriculture. Pour finaliser votre inscription, veuillez valider votre adresse email en cliquant sur le lien ci-dessous :</p>
        <a href="{{ signedUrl|raw }}" class="button">Valider mon adresse email</a>
        <p>Ou copiez et collez ce lien dans votre navigateur : <a href={{ signedUrl|raw }}>{{ signedUrl|raw }}</a> </p>
        <p>Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
        <p>Si vous n'avez pas créé de compte sur notre plateforme, veuillez ignorer cet email.</p>
        <p>Nous vous remercions pour votre confiance et restons à votre disposition pour toute question ou assistance.</p>
        <p>Cordialement,</p>
        <p>Ministère de l'Agriculture</p>
        <p>Email : <a href="mailto:contact@agriculture.tn">contact@agriculture.tn</a></p>
        <p>Téléphone : +216 12 345 678</p>
    </div>

